<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Principal</title>
</head>
<body>
    <header >
        <div>
            <div class="headerprincipal">
                <button class="card">
                    <h4 class="despesa">Despesas</h4>
                    <h3 class="valordespesa">R$00,00</h3>
                </button>

               <button class="card">
                    <h4 class="receita">Receitas</h4>
                    <h3 class="valorreceita">R$00,00</h3>
                </button>

                <button class="card">
                   <span class="relatorioh4">Relatórios</span>
                </button>
                 <div>
                <h3 class="acesso">Acesso rápido</h3>
                 <a href='http://127.0.0.1:8080/receitas'>
                      <button class="bttimgreceita"> <img class="imgreceitabtt" src="../static/bttreceita.JPG"></button>
                    </a>
                 <a href="http://127.0.0.1:8080/despesas">
                     <button class="bttimgreceita"><img class="imgreceitabt" src="../static/bttdespesas.JPG"></button>
                    </a>
            </div>
            </div>


        </div>
    </header>


    <div class="SaldoEimg">
        <div class="divSaldoGeral">
            <h2>Saldo Geral</h2>
            <h2>R$ <span class="saldo"><b>00,00</b></span></h2>
            <button class="bttOlho"><img src="../static/olho.png"></button>

        </div>

        <div class="imgPrincipal">
            <img  src="../static/img-p.png">
        </div>
    </div>
</body>
</html>
