<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Principal</title>
</head>
<body>
  <header >
        <div>
            <div class="headerprincipal">
                <button class="card">
                    <h4 class="despesa">Despesas</h4>
                    <h3 class="valordespesa">R$00,00</h3>
                </button>

               <button class="card">
                    <h4 class="receita">Receitas</h4>
                    <h3 class="valorreceita">R$00,00</h3>
                </button>

                <a href="http://127.0.0.1:8080/principal">
                    <button class="card">
                        <span class="relatorioh4">Relatórios</span>
                    </button>
                </a>
                 <div>
                <h3 class="acesso">Acesso rápido</h3>
                 <a href='http://127.0.0.1:8080/receitas'>
                      <button class="bttimgreceita"> <img class="imgreceitabtt" src="../static/bttreceita.JPG"></button>
                    </a>
                 <a href="http://127.0.0.1:8080/despesas">
                     <button class="bttimgreceita"><img class="imgreceitabt" src="../static/bttdespesas.JPG"></button>
                    </a>
            </div>
            </div>


        </div>
    </header>


    <div class="SaldoEimg">

        <div class="imgPrincipal">
            <img  src="../static/logo.png">
        </div>
        <div class="divSaldoGeral">
           <div class="divpaiReceitas">
            <div class="inputReceitas">
                <input class="inputRec" type="text" name="name" placeholder="Adicione a Receita:">
                <input class="inputRec" type="text" name="name" placeholder="Valor: ">     
            </div>
            <div >
                <button class="bttRec">Adicionar</button>
            </div>
           </div>
           <img class="LinhaCard" src="../static/linha.png">
        </div>
        
    </div>
</body>
</html>
